.scroll-hero {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h1,
	h1 p {
		font-family: 'Host Grotesk';
		font-size: 3rem;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: -0.1rem;
		color: var(--fg);
	}

	p {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 500;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 500;
		color: var(--fg);
	}

	.btn {
		padding: 0.75rem 1.5rem;
		border-radius: 0.25rem;
	}

	.btn.primary {
		background-color: #fefbf4;
	}

	.btn.primary a {
		color: #241910;
	}

	.btn.secondary {
		background-color: var(--fg);
	}

	.btn.secondary a {
		color: #fefbf4;
	}

	nav {
		position: fixed;
		width: 100vw;
		padding: 1.5rem 2rem;
		display: flex;
		align-items: center;
		gap: 2rem;
		will-change: opacity;
		z-index: 2;
	}

	nav > div {
		flex: 1;
	}

	nav .nav-links {
		display: flex;
		gap: 3rem;
	}

	nav .logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav .logo img {
		width: 2rem;
	}

	nav .logo a {
		text-transform: none;
		font-family: 'Host Grotesk';
		font-size: 1.5rem;
	}

	nav .nav-buttons {
		display: flex;
		gap: 1.5rem;
		justify-content: flex-end;
	}

	section {
		position: relative;
		width: 100vw;
		height: 100svh;
		overflow: hidden;
	}

	.outro {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 2rem;
		background-color: #fefbf4;
		color: var(--fg);
	}

	canvas {
		width: 100%;
		height: 100%;
		object-fit: cover;
		/* min-height: 100svh;
		will-change: transform;
		transform: translateZ(0); 
		backface-visibility: hidden;
		image-rendering: optimizeSpeed; 
		image-rendering: -webkit-optimize-contrast; 
		image-rendering: crisp-edges;  */
	}

	.hero-content {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		transform-style: preserve-3d;
		perspective: 1000px;
		padding: 0.5rem 0;
	}

	.header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		text-align: center;
		color: var(--fg);
		transform-origin: center;
		will-change: transform, opacity;
		backface-visibility: hidden;
		transform-style: preserve-3d;
	}

	.header h1,
	header h1 p {
		width: 50%;
		margin-bottom: 0.5rem;
	}

	.client-logos {
		width: 30%;
		display: flex;
		gap: 0.5rem;
	}

	.client-logos .client-logo {
		flex: 1;
	}

	.client-logos .client-logo img {
		object-fit: contain;
	}

	.hero-img-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		transform-style: preserve-3d;
		perspective: 1000px;
	}

	.hero-img {
		position: relative;
		width: 100%;
		height: 100%;
		transform: translateZ(1000px);
		opacity: 0;
		will-change: transform, opacity;
		backface-visibility: hidden;
		transform-style: preserve-3d;
	}

	@media (max-width: 1000px) {
		nav .nav-links,
		nav .nav-buttons {
			display: none;
		}

		.header h1,
		.header h1 p,
		.client-logos,
		.hero-img-container {
			font-size: 2rem;
		}
	}
}
